@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-ink antialiased;
}

section {
  @apply py-16;
}

.container {
  @apply mx-auto w-full max-w-6xl px-6;
}
